{% load static %}

<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
     <!-- Site Metas -->
    <title>{{request.user.username}}</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="" >
    

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'samples/css/pogo-slider.min.css' %}">
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'samples/css/style.css' %}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'samples/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'samples/css/custom.css' %}">
    <!-- <meta name="viewport" content="width=400px"> -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	<!-- LOADER -->
    <div id="preloader">
		<div class="preloader pulse">
			<h3>Karlene Hoard & Jonas Pare</h3>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->

    
	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="index.html"><img src="{% static 'samples/images/logo.png' %}" alt="image"></a>
				<!-- <a href="">
					<h4>Sweet Wedding</h4>
					<h5>Karlene and Jonas</h5>
				</a> -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="#home">Home</a></li>
                        <li><a class="nav-link" href="#about">About Us</a></li>
                        <li><a class="nav-link" href="#story">Story</a></li>
                        <li><a class="nav-link" href="#gallery">Gallery</a></li>
						<li><a class="nav-link" href="#wedding">Wedding</a></li>
						<li><a class="nav-link" href="#rsvp">Rsvp</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	</header>
	<!-- End header -->
	
	<!-- Start Banner -->
	<div class="home-slider">
		<ul class="rslides">
			<li><img src="{% static 'samples/images/slider-01.jpg' %}" alt=""></li>
			<li><img src="{% static 'samples/images/slider-02.jpg' %}" alt=""></li>
			<li><img src="{% static 'samples/images/slider-03.jpg' %}" alt=""></li>
		</ul>
		<!-- <div class="lbox-details">
			<h1>Karlene Hoard  & Jonas Pare</h1>
			<h2>We're getting married</h3>
			<div class="countdown main-time clearfix">
				<div id="timer">
					<h3> 5 July 2017</h3>
					<div id="days"></div>
					<div id="hours"></div>
					<div id="minutes"></div>
					<div id="seconds"></div>
				</div>
			</div>
		</div> -->
	</div>
	<!-- End Banner -->
	
	<!-- Start About us -->
	<div id="about" class="about-box">
		<div class="about-a1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="title-box">
							<h2>{{ mywebsite.bride_name }} <span> & </span> {{ mywebsite.groom_name }} </h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="about-m">
									<div class="about-img">
										<img class="img-fluid" src="{{ mywebsite.bride_image.url }}" alt="" />
									</div>
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-8 col-md-6 col-sm-12">
								<h2> <i class="fa fa-heart-o" aria-hidden="true"></i> <span>{{ mywebsite.bride_name }}</span> <i class="fa fa-heart-o" aria-hidden="true"></i></h2>
								<p>{{ mywebsite.about_groom }} </p>
							</div>
						</div>
						<div class="row align-items-center about-main-info">
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="about-m">
									<div class="about-img">
										<img class="img-fluid" src="{{ mywebsite.groom_image.url }}" alt="" />
									</div>
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-8 col-md-6 col-sm-12">
								<h2> <i class="fa fa-heart-o" aria-hidden="true"></i> <span>{{ mywebsite.about_groom }} </span> <i class="fa fa-heart-o" aria-hidden="true"></i></h2>
								<p>{{ mywebsite.about_bride }} </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About us -->
	
	<!-- Start Story -->
	<div id="story" class="story-box main-timeline-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Our Story</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</div>
			
			<div class="timeLine">
				<div class="row">
					<div class="lineHeader hidden-sm hidden-xs"></div>
					<div class="lineFooter hidden-sm hidden-xs"></div>

						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item" >
							<div class="caption">
								<div class="star center-block">
									<span class="h3">01</span>
									<span>March </span>
									<span>2017</span>
								</div>
								<div class="image">
									<img src="{{ mywebsite.gallery_1.url }}" alt="" />
									<div class="title">
										<h2>How we met <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
									</div>
								</div>
								<div class="textContent">
									<p class="lead">{{ mywebsite.how_we_met }}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
							<div class="caption">
								<div class="star center-block">
									<span class="h3">03</span>
									<span>April</span>
									<span>2017</span>
								</div>
								<div class="image">
									<img src="{{ mywebsite.gallery_2.url }}" alt="" />
									<div class="title">
										<h2>First Outing <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
									</div>
								</div>
								<div class="textContent">
									<p class="lead">{{ mywebsite.first_outing }}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
							<div class="caption">
								<div class="star center-block">
									<span class="h3">03</span>
									<span>May</span>
									<span>2017</span>
								</div>
								<div class="image">
									<img src="{{ mywebsite.gallery_3.url }}" alt="" />
									<div class="title">
										<h2>His Proposal <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
									</div>
								</div>
								<div class="textContent">
									<p class="lead">{{ mywebsite.proposal }}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
							<div class="caption">
								<div class="star center-block">
									<span class="h3">04</span>
									<span>June</span>
									<span>2017</span>
								</div>
								<div class="image">
									<img src="{{ mywebsite.gallery_4.url }}" alt="" />
									<div class="title">
										<h2>Courtship <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
									</div>
								</div>
								<div class="textContent">
									<p class="lead">{{ mywebsite.courtship }}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
							<div class="caption">
								<div class="star center-block">
									<span class="h3">04</span>
									<span>July</span>
									<span>2017</span>
								</div>
								<div class="image">
									<img src="{{ mywebsite.gallery_5.url }}" alt="" />
									<div class="title">
										<h2>Together Forever <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
									</div>
								</div>
								<div class="textContent">
									<p class="lead">{{ mywebsite.together_forever }}</p>
								</div>
							</div>
						</div>

				</div>
			</div>
			
		</div>
	</div>
	<!-- End Story -->
	
	<!-- Start Wedding -->
	
	<div id="wedding" class="wedding-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Wedding Events</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</div>
			
			<div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox">
                        <div class="service-icon"><i class="flaticon-bachelorette-party"></i></div>
                        <h3 class="title">Bachelor Party </h3>
						<h4>04 July 2017 at 7:30 pm</h4>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur, deleniti eaque excepturi.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox">
                        <div class="service-icon"><i class="flaticon-wedding"></i></div>
                        <h3 class="title">Wedding Ceremony </h3>
						<h4>{{ mywebsite.wedding_date }} at {{ mywebsite.wedding_ceremony_time }}</h4>
                        <p class="description">
                            {{ mywebsite.wedding_ceremony_venue }}
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox">
                        <div class="service-icon"><i class="flaticon-reception-bell"></i></div>
                        <h3 class="title">Reception Ceremony </h3>
						<h4>{{ mywebsite.wedding_date }} at {{ mywebsite.wedding_ceremony_time }}</h4>
                        <p class="description">
                            {{ mywebsite.wedding_reception_venue }}
                        </p>
                    </div>
                </div>
            </div>
			
		</div>
	</div>
	
	<!-- End Wedding -->

	
	<!-- Start Gallery -->
	<div id="gallery" class="gallery-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Gallery</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</div>
			<div class="row">
				<ul class="popup-gallery clearfix">
					<li>
						<a href="{{ mywebsite.gallery_1.url }}">
							<img class="img-fluid" src="{{ mywebsite.gallery_1.url }}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{{ mywebsite.gallery_2.url }}">
							<img class="img-fluid" src="{{ mywebsite.gallery_2.url }}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{{ mywebsite.gallery_3.url }}">
							<img class="img-fluid" src="{{ mywebsite.gallery_3.url }}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{{ mywebsite.gallery_4.url }}">
							<img class="img-fluid" src="{{ mywebsite.gallery_4.url }}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{{ mywebsite.gallery_5.url }}">
							<img class="img-fluid" src="{{ mywebsite.gallery_5.url }}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{{ mywebsite.gallery_6.url }}">
							<img class="img-fluid" src="{{ mywebsite.gallery_6.url }}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{{ mywebsite.bride_image.url }}">
							<img class="img-fluid" src="{{ mywebsite.bride_image.url }}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{{ mywebsite.groom_image.url }}">
							<img class="img-fluid" src="{{ mywebsite.groom_image.url }}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End Gallery -->
	
		

	
	<!-- Start Contact -->
	<div id="rsvp" class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>RSVP</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
				  <div class="contact-block">
					<form class="forms-sample" action="{% url 'my-wedding-website' mywebsite.slug %}" method="POST">
					{% csrf_token %}
					  <div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
								<div class="help-block with-errors"></div>
							</div>                                 
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" placeholder="Your Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<select class="custom-select d-block form-control" required name="number_of_guest" data-error="Please select an item in the list.">
								  <option disabled selected>Number Of Guest*</option>
								  <option value="1">1</option>
								  <option value="2">2</option>
								  <option value="3">3</option>
								  <option value="4">4</option>
								  <option value="5">5</option>
								</select>
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<select class="custom-select d-block form-control" id="event" name="attending" required data-error="Please select an item in the list.">
								  <option disabled selected>I Am Attending*</option>
								  <option value="1">All events</option>
								  <option value="2">Wedding ceremony</option>
								  <option value="3">Reception party</option>
								</select>
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group"> 
								<textarea class="form-control" placeholder="Your Message" name="message" rows="8" data-error="Write your message" required></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="submit-button text-center">
								<button class="btn btn-common" type="submit">Send Message</button>
							</div>
						</div>
					  </div>            
					</form>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->

	<div class="container mt-2">
            <div class="d-flex justify-content-center row">
                <div class="col-md-8">
                    <div class="d-flex flex-column comment-section">
                        <div class="bg-white p-2">
                            <div class="d-flex flex-row user-info"><img class="rounded-circle" src="{% static 'samples/images/slider-01.jpg' %}" width="40">
                                <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">James</span><span class="date text-black-50">Shared publicly - 30 minutes ago</span></div>
                            </div>
                            <div class="mt-2">
                                <p class="comment-text">The future for you is blessed</p>
                            </div>
                        </div>
                        <div class="bg-light p-2">
                          <form action="{% url 'my-wedding-website' mywebsite.slug %}" method="POST">
							{% csrf_token %}
                            <div class="d-flex flex-row align-items-start p-2">
                              <img class="rounded-circle" src="{% static 'samples/images/slider-01.jpg' %}" width="40" height="40">
                              <input class="form-control p-2" id="name-input" type="text" name="comment_name" placeholder="Your name" />
                            </div>
                              <textarea name="comment_message" class="form-control ml-1 shadow-none textarea p-2"></textarea>
                            <div class="mt-2 text-right"><button class="btn  btn-sm shadow-none" style="background-color: #890025; color: #fff;" type="submit">Post comment</button><button class="btn btn-sm ml-1 shadow-none" style="border-color: #890025; color: #333;" type="button">Cancel</button></div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	
	<!-- Start Footer -->
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">Sweetwedding</a> Design By : <a href="https://html.design/">html design</a></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<!-- ALL JS FILES -->
	<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'samples/js/popper.min.js"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- ALL PLUGINS -->
	<script src="{% static 'samples/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'samples/js/jquery.pogo-slider.min.js' %}"></script> 
	<script src="{% static 'samples/js/slider-index.js' %}"></script>
	<script src="{% static 'samples/js/smoothscroll.js' %}"></script>
	<script src="{% static 'samples/js/responsiveslides.min.js' %}"></script>
    <script src="{% static 'samples/js/timeLine.min.js' %}"></script>	
	<script src="{% static 'samples/js/form-validator.min.js' %}"></script>
    <script src="{% static 'samples/js/contact-form-script.js' %}"></script>
    <script src="{% static 'samples/js/custom.js' %}"></script>
</body>
</html>