{% extends "users/dash_base.html" %}
{% load static %}
{% block content %}

          <div class="row">
            <div class="col-sm-6 mb-4 mb-xl-0">
              <div class="d-lg-flex align-items-center">
                <div>
                  <h3 class="text-dark font-weight-bold mb-2">Hi, {{request.user.username}} welcome back!</h3>
                  <h6 class="font-weight-normal mb-2">Last login was 23 hours ago. View details</h6>
                </div>
                <div class="ml-lg-5 d-lg-flex d-none">
                    <button type="button" class="btn bg-white btn-icon">
                      <i class="mdi mdi-view-grid text-success"></i>
                  </button>
                    <button type="button" class="btn bg-white btn-icon ml-2">
                      <i class="mdi mdi-format-list-bulleted font-weight-bold text-primary"></i>
                    </button>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-flex align-items-center justify-content-md-end">
                <div class="pr-1 mb-3 mb-xl-0">
                    <button type="button" class="btn btn-outline-inverse-info btn-icon-text">
                      Feedback
                      <i class="mdi mdi-message-outline btn-icon-append"></i>                          
                    </button>
                </div>
                <div class="pr-1 mb-3 mb-xl-0">
                    <button type="button" class="btn btn-outline-inverse-info btn-icon-text">
                      Help
                      <i class="mdi mdi-help-circle-outline btn-icon-append"></i>                          
                  </button>
                </div>
                <div class="pr-1 mb-3 mb-xl-0">
                    <button type="button" class="btn btn-outline-inverse-info btn-icon-text">
                      Print
                      <i class="mdi mdi-printer btn-icon-append"></i>                          
                    </button>
                </div>
              </div>
            </div>
          </div>


          <div class="row mt-4">
            <div class="col-lg-8 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">

                  

                  <form action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
                    <div class="forms-sample" >
                    {% csrf_token %}

                      <div class="form-group">
                        <label for="exampleInputCity1">My wedding date</label>
                        <input type="text" name="wedding_date" class="form-control" id="exampleInputCity1" 
                                  {% if mywebsite.wedding_date != None %} 
                                    placeholder="{{ mywebsite.wedding_date }}" 
                                  {% else %}
                                   placeholder="YYYY-MM-DD"
                                  {% endif %}>
                      </div>
                      <div class="form-group">
                        <label>File upload</label>
                        <input type="file" name="hero_images" multiple class="file-upload-default">
                        <div class="input-group col-xs-12 mb-2">
                          <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div>

                      <br>
                      <button type="submit" class="btn btn-primary mr-2">Update</button>
                    </div>

                  </form>

                  <div class="row align-items-center pt-2">

                    <div class="col-sm-4 d-flex grid-margin stretch-card">
                      <div class="card">
                        <img src="{{ mywebsite.hero_image_1.url }}" class="w-100" alt="">
                      </div>
                    </div>

                    <div class="col-sm-4 d-flex grid-margin stretch-card">
                      <div class="card">
                        <img src="{{ mywebsite.hero_image_2.url }}" class="w-100" alt="">
                      </div>
                    </div>

                    <div class="col-sm-4 d-flex grid-margin stretch-card">
                      <div class="card">
                        <img src="{{ mywebsite.hero_image_3.url }}" class="w-100" alt="">
                      </div>
                    </div>

                  </div>


                 <h4 class="card-title m-2">Countdown Timer</h4>
                 <div class="col ctimer">
                    <p class="mb-2">Would you love to have countdown timer on your wedding website?</p>
                    <label class="toggle-switch ml-3 mb-3">
                      <input type="checkbox" checked id=" " value="">
                      <span class="toggle-slider round"></span>
                    </label>                      
                  </div>


                </div>
              </div>
            </div>

            <div class="col-sm-4 flex-column d-flex stretch-card">
              <div class="row">
                <div class="col-sm-12 grid-margin d-flex stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex align-items-center justify-content-between">
                        <h4 class="card-title mb-2">About Us</h4>
                        <div class="dropdown">
                          <a href="#" class="text-success btn btn-link  px-1"><i class="mdi mdi-refresh"></i></a>
                          <a href="#" class="text-success btn btn-link px-1 dropdown-toggle dropdown-arrow-none" data-toggle="dropdown" id="settingsDropdownsales">
                            <i class="mdi mdi-dots-horizontal"></i></a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="settingsDropdownsales">
                              <a class="dropdown-item">
                                <i class="mdi mdi-grease-pencil text-primary"></i>
                                Edit
                              </a>
                              <a class="dropdown-item">
                                <i class="mdi mdi-delete text-primary"></i>
                                Delete
                              </a>
                            </div>
                        </div>
                      </div>
                      <div>
                        <ul class="nav nav-tabs tab-no-active-fill justify-content-between" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active pl-2 pr-2" id="bride" data-toggle="tab" href="#revenue-for-last-month" role="tab" aria-controls="revenue-for-last-month" aria-selected="true">Bride</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link pl-2 pr-2" id="groom" data-toggle="tab" href="#servers-loading" role="tab" aria-controls="servers-loading" aria-selected="false">Groom</a>
                        </ul>
                        <div class="tab-content tab-no-active-fill-tab-content">
                          <div class="tab-pane fade show active" id="revenue-for-last-month" role="tabpanel" aria-labelledby="bride">
                            <div class="d-lg-flex justify-content-between">




                              <form class="forms-sample" action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-group">
                                  <label for="exampleInputCity1">Bride's name</label>
                                  <input type="text" name="bride_name" class="form-control" id="exampleInputCity1" 
                                  {% if mywebsite.bride_name != None %} 
                                    placeholder="{{ mywebsite.bride_name }}" 
                                  {% else %}
                                   placeholder="bride_name"
                                  {% endif %}>
                                </div>

                                <div class="form-group">
                                  <label>File upload</label>
                                  <input type="file" name="bride_image" class="file-upload-default">
                                  <div class="input-group col-xs-12">
                                    <input type="text" class="form-control file-upload-info" disabled placeholder="Bride's personal image">
                                    <span class="input-group-append">
                                      <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                    </span>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="exampleTextarea1">Textarea</label>
                                  <textarea class="form-control" id="exampleTextarea1" name="about_groom" rows="4" placeholder="Tell us what you like about him..."></textarea>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary mr-2">Update</button>
                              </form>

                            </div>
                          </div>
                          <div class="tab-pane fade" id="servers-loading" role="tabpanel" aria-labelledby="groom">
                            <div class="d-flex justify-content-between">

                              <form class="forms-sample" action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-group">
                                  <label for="exampleInputCity1">Groom's name</label>
                                  <input type="text" name="groom_name" class="form-control" id="exampleInputCity1" 
                                  {% if mywebsite.groom_name != None %} 
                                    placeholder="{{ mywebsite.groom_name }}" 
                                  {% else %}
                                   placeholder="groom_name"
                                  {% endif %}>
                                </div>

                                <div class="form-group">
                                  <label>File upload</label>
                                  <input type="file" name="groom_image" class="file-upload-default">
                                  <div class="input-group col-xs-12">
                                    <input type="text" class="form-control file-upload-info" disabled placeholder="Groom's personal image">
                                    <span class="input-group-append">
                                      <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                    </span>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="exampleTextarea1">Textarea</label>
                                  <textarea class="form-control" id="exampleTextarea1" name="about_bride" rows="4" placeholder="Tell us what you like about her..."></textarea>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary mr-2">Update</button>
                              </form>


                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row pb-3">
            <div class="col-sm-6  grid-margin grid-margin-md-0 stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between">
                    <h2 class="card-title">Our Story</h2>
                  </div>

                  <form class="forms-sample" action="{% url 'dashboard' %}" method="POST">
                  {% csrf_token %}

                    <div class="form-group">
                      <label for="exampleTextarea1">How we met</label>
                      <textarea name="how_we_met" class="form-control" id="exampleTextarea1" placeholder="Tell us how you met eachother...Our templates comes handy here" rows="4"></textarea>
                    </div>


                    <div class="form-group">
                      <label for="exampleTextarea1">First Outing</label>
                      <textarea name="proposal" class="form-control" id="exampleTextarea1" placeholder="His Proposal...Our templates comes handy here" rows="4"></textarea>
                    </div>


                    <div class="form-group">
                      <label for="exampleTextarea1">Proposal</label>
                      <textarea name="courtship" class="form-control" id="exampleTextarea1" placeholder="Courtship...Our templates comes handy here" rows="4"></textarea>
                    </div>

                    <div class="form-group">
                      <label for="exampleTextarea1">Courtship</label>
                      <textarea name="proposal" class="form-control" id="exampleTextarea1" placeholder="His Proposal...Our templates comes handy here" rows="4"></textarea>
                    </div>


                    <div class="form-group">
                      <label for="exampleTextarea1">Together Forever</label>
                      <textarea name="courtship" class="form-control" id="exampleTextarea1" placeholder="Courtship...Our templates comes handy here" rows="4"></textarea>
                    </div>

                    <br>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>

                  </form>
                </div>
              </div>
            </div>



            
            <div class="col-sm-6 grid-margin grid-margin-md-0 stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between">
                    <h2 class="card-title">Gallery</h2>
                  </div>

                  <form class="forms-sample" action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      <label>File upload</label>
                      <input type="file" name="gallery" multiple class="file-upload-default">
                      <div class="input-group col-xs-12 mb-2">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>

                    <br>
                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                  </form>
                </div>
              </div>
            </div>


          </div>


          <div class="row pb-3">


            <div class="col-sm-12 flex-column d-flex stretch-card">
              <div class="row">
                <div class="col-sm-12 grid-margin d-flex stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex align-items-center justify-content-between">
                        <h4 class="card-title mb-2">Wedding Schedule </h4>
                        <div class="dropdown">
                          <a href="#" class="text-success btn btn-link  px-1"><i class="mdi mdi-refresh"></i></a>
                          <a href="#" class="text-success btn btn-link px-1 dropdown-toggle dropdown-arrow-none" data-toggle="dropdown" id="settingsDropdownsales">
                            <i class="mdi mdi-dots-horizontal"></i></a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="settingsDropdownsales">
                              <a class="dropdown-item">
                                <i class="mdi mdi-grease-pencil text-primary"></i>
                                Edit
                              </a>
                              <a class="dropdown-item">
                                <i class="mdi mdi-delete text-primary"></i>
                                Delete
                              </a>
                            </div>
                        </div>
                      </div>
                      <div>
                        <ul class="nav nav-tabs tab-no-active-fill justify-content-between" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active pl-2 pr-2" id="wedding-engagement-tab" data-toggle="tab" href="#wedding-engagement" role="tab" aria-controls="wedding-engagement" aria-selected="true">Engagement</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link pl-2 pr-2" id="wedding-ceremony-tab" data-toggle="tab" href="#wedding-ceremony" role="tab" aria-controls="wedding-ceremony" aria-selected="false">Wedding Ceremony</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link pl-2 pr-2" id="wedding-reception-tab" data-toggle="tab" href="#wedding-reception" role="tab" aria-controls="wedding-reception" aria-selected="false">Wedding Reception</a>
                          </li>
                        </ul>
                        <div class="tab-content tab-no-active-fill-tab-content">
                          <div class="tab-pane fade show active" id="wedding-engagement" role="tabpanel" aria-labelledby="wedding-engagement-tab">
                            <div class="">

                              <form class="forms-sample" action="{% url 'dashboard' %}" method="POST">
                                <div class="form-group">
                                  <label for="exampleInputCity1">Date</label>
                                  <input name="wedding_engagement_date" type="text" class="form-control" id="exampleInputCity1" placeholder="Date">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputCity1">Time</label>
                                  <input name="wedding_engagement_time" type="text" class="form-control" id="exampleInputCity1" placeholder="Time">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputCity1">Venue</label>
                                  <input name="wedding_engagement_venue" type="text" class="form-control" id="exampleInputCity1" placeholder="Venue of the Engagement">
                                </div>
                                <div class="form-group">
                                  <label for="exampleTextarea1">Full-description (Optional)</label>
                                  <textarea name="wedding_engagement_description" class="form-control" id="exampleTextarea1" rows="4"></textarea>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary mr-2">Update</button>
                              </form>


                            </div>
                          </div>
                          <div class="tab-pane fade" id="wedding-ceremony" role="tabpanel" aria-labelledby="wedding-ceremony-tab">
                            <div class="">

                              <form class="forms-sample" action="{% url 'dashboard' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                  <label for="exampleInputCity1">Time</label>
                                  <input name="wedding_ceremony_time" type="text" class="form-control" id="exampleInputCity1" placeholder="Time">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputCity1">Venue</label>
                                  <input name="wedding_ceremony_venue" type="text" class="form-control" id="exampleInputCity1" placeholder="Venue of the wedding ceremony">
                                </div>
                                <div class="form-group">
                                  <label for="exampleTextarea1">Full-description (Optional)</label>
                                  <textarea name="wedding_ceremony_description" class="form-control" id="exampleTextarea1" rows="4"></textarea>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary mr-2">Update</button>
                              </form>

                            </div>
                          </div>
                          <div class="tab-pane fade" id="wedding-reception" role="tabpanel" aria-labelledby="wedding-reception-tab">
                            <div class="">

                              <form class="forms-sample" action="{% url 'dashboard' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                  <label for="exampleInputCity1">Time</label>
                                  <input name="wedding_reception_time" type="text" class="form-control" id="exampleInputCity1" placeholder="Time">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputCity1">Venue</label>
                                  <input name="wedding_ceremony_venue" type="text" class="form-control" id="exampleInputCity1" placeholder="Venue of the wedding reception">
                                </div>
                                <div class="form-group">
                                  <label for="exampleTextarea1">Full-description (Optional)</label>
                                  <textarea name="wedding_reception_description" class="form-control" id="exampleTextarea1" rows="4"></textarea>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary mr-2">Update</button>
                              </form>


                            </div>
                            <canvas id="serveLoading"></canvas>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>




          </div>
          
          

{% endblock content %}
